* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

.nav-list {
    display: flex;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.image {
    height: auto;
    width: 50%;
    border-radius: 2%;
    margin: 25px 10px;
}



.header {
    display: flex;
    flex-direction: column;
}

.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(https://www.youtube.com/watch?v=gXSjQENKD7g) no-repeat center center/cover;
}

video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 3px 3px;
    z-index: 2;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    
}



